.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

.ipynb_checkpoints/
checkpoints/

*.pyc
*.p
*.pkl 

*/.floyd*
*.gz
*.pickle
*.zip
intro-to-rnns/Anna_KaRNNa.ipynb
